{% extends "user/base_user.html" %}

{% block title %}
    Cursos Disponíveis
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Cursos Disponíveis</h1>
    <div class="row">
        {% for curso in cursos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ curso.nome }}</h5>
                    <p class="card-text">{{ curso.descricao[:150] }}...</p>
                    <a href="{# {{ url_for('main.ver_curso', curso_id=curso.id) }} #}" class="btn btn-success">Acessar Curso</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
