{% extends "post/base_post.html" %}

{% block title %}
    Editar Post: {{ post.titulo }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Editar Post</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.titulo.label(class="form-label") }}
            {{ form.titulo(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.conteudo.label(class="form-label") }}
            {{ form.conteudo(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-warning">Atualizar Post</button>
    </form>
</div>
{% endblock %}
