{% extends "admin/base_admin.html" %}
{% import "admin/macros.html" as macros %}

<!--<title>Login Administrativo</title>-->

{% block content %}

<div class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card p-4 border-0" style="max-width: 400px; width: 100%;">
  <h2 class="text-center mb-4">Admin Login</h2>

    <form action="{{ url_for('admin.admin_login', next_admin=request.args.get('next_admin')) }}" method="POST">
      {{ form.csrf_token }}

      <!--Email-->
      <div class="mb-3">
          {{ form.email.label(class="form-label" ) }}
          {{ form.email(class="form-control", placeholder="admin@example.com") }}
          
      </div>

        <!--Senha-->
      <div class="mb-3">
          {{ macros.campo_senha(form.senha) }}
      </div>


      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember">
        <label class="form-check-label" for="remember">Lembrar-me</label>
      </div>

        <!--Btn-->
      <div class="pt-1 mb-4">
        {{ form.botao_fazer_login(class="btn btn-primary w-100") }}
      </div>

    </form>

  </div>
</div>
{% endblock %}


